<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "resume/css/style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>William Fritts</title>
</head>
<header>
    <center><h1>William Fritts - Full Stack Developer</h1></center>
    <hr>
</header>
<body class="container">
    <div class="row">
        <div class="col-sm">
            <ul><strong>Languages:</strong>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Python</li>
                <li>Javascript</li>
                <li>Java</li>
            </ul>
            <ul><strong>Frameworks:</strong>
                <li>Flask</li>
                <li>Django</li>
                <li>Express</li>
            </ul>
            <ul><strong>Libraries:</strong>
                <li>JQuery</li>
                <li>Node</li>
                <li>Bootstrap</li>
                <li>Version Control (Git/Github)</li>
            </ul>

        </div>
        <div class="col-sm">
            <center>
            <img src="{% static "resume/images/me.png" %}" alt="my picture">
            <p>Junior level Full Stack Developer in the Python language skilled in developing front-end to back-end web applications. Experience launching and troubleshooting application in the AWS environment. Seeking opportunities within the Python language. </p>
            </center>
        </div>
        <div class="col-sm">
            <h3>Coding Dojo Online</h3>
            <ul>
                <li><em>Internet:</em> Using HTML/CSS to reproduce a static website homepage from an image.</li>
                <li><em>Login/Registration:</em> Creating a fully functional login/registration application including validations and error messages.</li>
                <li><em>Bcrypt:</em> Learning best security practices to safeguard client data.</li>
                <li><em>The Wall:</em> Incorporating login/registration application to produce a functional website where users can post messages and see the messages of other users. </li>
            </ul>
        </div>
    </div>
</body>
<footer>
    <center>
    <a href="mailto: waf515@gmail.com">Email</a>
    |
    <a href="../../static/resume/files/resume.pdf" download>Resume</a>
    |
    <a href="https://www.github.com/wafman" target="_blank">GitHub</a>
    </center>
</footer>
</html>